		body {
			max-width:700px;
			margin:0px auto;
			font-family: 'Open Sans', Arial, sans-serif;
		}

		/*  SLIDER CSS */

    .tooltip-inner {
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 21px;
      font-weight: 700;
      padding: 6px 10px;
      background-color: #d4d8da;
      color: #414042;
      border-radius: 6px;
    }

    .tooltip-min .tooltip-inner {
      vertical-align: top;

    }

    .tooltip {
      margin-top: -53px !important;
    }


    .zero {
      width: 50%;
      float:left;
      color: #414042;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
    }

    .guess {
      width: 100%;
      height: auto;
      float:left;
      padding-left: 27%;
      color: #414042;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
      margin-top: -32px;
    }

    .one-hundred {
      width: 50%;
      height: auto;
      float:left;
      color: #414042;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
    }

    .tick-one {
      text-align: left;
      margin-top: 18px;
      margin-bottom: 24px;
    }

    .tick-two {
      text-align: right;
      margin-top: 18px;
      margin-bottom: 24px;
    }

    .btn-primary1 {
      background-color: #0F8243;
      color: #fff;
    }

    p {
      color: #414042;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
    }

    .tooltip-inner::before {
    content: "£";
    }

    .hide{
      display: none;
    }

		/*  Input boxes */

		input {
		  height: 40px;
			font-size: 16px !important;
			text-align: right;
			padding-right:0px !important;
		}

		.input {
		  margin-bottom: 10px;
		}

		.pound {
		  display: inline;
		  height: 40px;
		  width: 40px;
		  font-size: 21px;
		  padding-top: 5px;
		  background-color: #3b7a9e;
		  color: #fff;
		  text-align: center;
		  float: left;
		  font-weight: 600;
		}

		.rightofbox {
			display: inline-block;
			height: 40px;
			width: 40px;
			margin-right: 0px;
			color: white;
			background-color: #003C57;
			padding-top: 5px;
			text-align: center;
			font-weight: 600;
			font-size: 21px;
			margin-left: -4px;
			vertical-align: top;
		}

		.arrow{
		  display: inline;
		  height: 40px;
		  width: 40px;
		  font-size: 16px;
		  padding-top: 8px;
		  background-color: #3b7a9e;
		  color: #fff;
		  text-align: center;
		  float: left;
		}

		.form-control {
		  height: 40px !important;
		  width:90% !important;
		}

		.input-window {
			display: inline-block;
		}


		.button {
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: inline-block;
			width: auto;
			cursor: pointer;
			text-align: center;
			border: 0 none;
			padding: 6px 0;
			padding: 9px 16px 9px 16px;
			background-color: #0F8243;
			font-family: 'Open Sans',Arial,sans-serif;
			font-weight: 400;
			font-size: 16px;
			color: #FFF;
			filter: inherit;
			-webkit-appearance: button;
			transition: background-color 0.25s ease-out;
			text-decoration: none;
			-webkit-font-smoothing: antialiased;
		}

		.button:hover, .button:focus {
    background-color: #0b5d30;
}
		/*  END INPUT BOX */

		/* Button groups */
		.btn-primary {
		 background-color:#3b7a9e!important;
		 color:#fff
		}
		.btn-primary:hover {
		 background-color:#003c57
		}
		.btn-primary:focus {
		 outline:3px solid #f93!important;
		 outline-offset:-1px;
		 background-color:#003c57
		}
		.form-group {
		 display:-webkit-box;
		 display:-ms-flexbox;
		 display:flex;
		 cursor:pointer;
		 height:40px;
		 box-sizing:border-box;
		 text-align:center;
		 margin-bottom:0!important
		}
		.label-primary {
		 padding:6px 4px;
		 cursor:pointer;
		 color:#333;
		 background:#f9f9f9;
		 width:112px;
		 border-top:solid 1px #eaeaea;
		 border-left:solid 1px #eaeaea;
		 border-bottom:solid 1px #eaeaea;
		 border-right:solid 1px #eaeaea;
		 margin-right:2px
		}
		.label-primary:hover {
		 background:#003c57;
		 color:#fff;
		 border-color:#003c57
		}
		.radio-primary {
		 display:none
		}
		.radio-primary:checked+.label-primary {
		 background:#3b7a9e;
		 color:#fff;
		 border-color:#3b7a9e;
		 cursor:default
		}
		[role=radio]:focus {
		 outline:2px solid #f93!important;
		 outline-offset:-1px;
		 background-color:#3b7a9e;
		 z-index:1
		}
		input:focus,select:focus {
		 outline:2px solid #f93!important;
		 outline-offset:-1px;
		 z-index:1
		}
		.form-control {
		 border-style:solid!important;
		 border-width:1px!important;
		 font-size:16px!important;
		 font-family:open sans,Arial,sans-serif!important;
		 -webkit-font-smoothing:antialiased!important;
		 border-color:#414042!important;
		 padding:0 10px!important;
		 color:#414042!important;
		 background-color:#fff!important
		}
		.form-control:focus {
		 outline:2px solid #f93!important;
		 outline-offset:0!important
		}



		/*  Start the DROPDOWN BITS */

		.select2-dropdown {
			 border: 1px solid #FF9933 !important;
		 }

		 .select2-search__field{
			 border: 1px solid #FF9933!important;
		 }

		 .select2-container--default .select2-selection--single {
				 background-color: #EDEDED!important;
				 border: 1px #FF9933 !important;
		 }

		 .select2-container .select2-selection--single {
				 height: 36px!important;
		 }

		 .select2-container--default .select2-selection--single .select2-selection__placeholder {
				 color: #4A494B!important;
		 }

		 .select2-container--default .select2-selection--single .select2-selection__rendered {
				 line-height: 36px!important;
		 }

		 .select2-dropdown.select2-dropdown--below{
					 /* width: 148px !important; */
		 }

		 .select2-container--default .select2-selection--single{
				 /* padding:6px; */
				 /* height: 37px; */
				 /* width: 148px; */
				 /* font-size: 1.2em; */
				 position: relative;
		 }

		 .select2-container--default .select2-selection--single .select2-selection__arrow {
				 background-image: -khtml-gradient(linear, left top, left bottom, from(#3b7a9e), to(#3b7a9e));
				 background-image: -moz-linear-gradient(top, #3b7a9e, #3b7a9e);
				 background-image: -ms-linear-gradient(top, #3b7a9e, #3b7a9e);
				 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b7a9e), color-stop(100%, #3b7a9e));
				 background-image: -webkit-linear-gradient(top, #3b7a9e, #3b7a9e);
				 background-image: -o-linear-gradient(top, #3b7a9e, #3b7a9e);
				 background-image: linear-gradient(#3b7a9e, #3b7a9e);
				 /* width: 40px; */
				 /* color: #fff; */
				 /* font-size: 1.3em; */
				 padding: 0px 6px;
				 /* height: 27px; */
				 position: absolute;
				 top: 0px;
				 right: 0px;
				 /* width: 20px; */
		 }

		 /*.select2-container--default .select2-selection--single .select2-selection__rendered {
			 line-height: 25px !important;
		 }*/

		 .select2-selection__arrow b {
			 border-color: white transparent transparent transparent !important;
			 border-width: 7px 6px 0px 6px !important;
			 left: 48% !important;
			 top: 45% !important;
		 }

		 .select2-selection__clear {
			 padding-right: 15px !important;
			 color: #3b7a9e !important;
			 font-size: 25px !important;
			 line-height: 24px !important;
		 }


		 .select2-container--default .select2-selection--single .select2-selection__arrow {
				 height: 36px!important;
				 width: 36px!important;
		 }

		 .select2-selection__clear {
				 padding-right: 25px !important;
				 color: #3b7a9e !important;
				 font-size: 36px !important;
				 line-height: 35px !important;
		 }


		/*  END THE DROPDOWN BITS */
